# Go binaries
/bin/
/obj/

# Go workspace files
/work/

# Go module files
/go.sum
/go.mod

# Go test cache
*.test
testdata/

# IDE files
.idea/
.vscode/
*.swp

# Mac OS specific
.DS_Store

# Windows specific
Thumbs.db
Desktop.ini

# Log files
*.log

# Temporary files
*.tmp

# Coverage report
*.out
coverage.out

# Build output
build/
dist/

# Vendor folder (if you're using vendoring)
vendor/
